.edgtf-content-bottom .edgtf-content-bottom-inner {box-sizing: border-box;}
.edgtf-content-bottom .edgtf-content-bottom-inner.edgtf-grid {padding: 20px 0;}
.edgtf-content-bottom .edgtf-content-bottom-inner.edgtf-full-width {padding: 20px 50px;}
.edgtf-page-footer {position: relative;display: inline-block;width: 100%;vertical-align: middle;z-index: 100;box-sizing: border-box;}
.edgtf-page-footer .edgtf-footer-top-holder {position: relative;display: inline-block;width: 100%;vertical-align: middle;background-color: #f5f5f5;box-sizing: border-box;}
.edgtf-theme-dark-skin .edgtf-page-footer .edgtf-footer-top-holder {background-color: #0e0e0e;}
.edgtf-page-footer .edgtf-footer-top-holder .edgtf-footer-top-alignment-center {text-align: center;}
.edgtf-page-footer .edgtf-footer-top-holder .edgtf-footer-top-alignment-left {text-align: left;}
.edgtf-page-footer .edgtf-footer-top-holder .edgtf-footer-top-alignment-right {text-align: right;}
.edgtf-page-footer .edgtf-footer-top-holder .edgtf-footer-top-inner {box-sizing: border-box;}
.edgtf-page-footer .edgtf-footer-top-holder .edgtf-footer-top-inner.edgtf-grid {padding: 76px 0 56px;}
.edgtf-page-footer .edgtf-footer-top-holder .edgtf-footer-top-inner.edgtf-full-width {padding: 76px 50px;}
.edgtf-page-footer .edgtf-footer-bottom-holder {position: relative;display: inline-block;width: 100%;vertical-align: middle;background-color: #f5f5f5;box-sizing: border-box;text-align: center;}
.edgtf-theme-dark-skin .edgtf-page-footer .edgtf-footer-bottom-holder {background-color: #0e0e0e;}
.edgtf-page-footer .edgtf-footer-bottom-holder .edgtf-footer-bottom-inner {box-sizing: border-box;}
.edgtf-page-footer .edgtf-footer-bottom-holder .edgtf-footer-bottom-inner.edgtf-grid {padding: 19px 0;}
.edgtf-page-footer .edgtf-footer-bottom-holder .edgtf-footer-bottom-inner.edgtf-full-width {padding: 19px 50px;}